*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body{
    font-size: 1em;
    background-color: #ffffff;
    color: #7f3667;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2{
    color: #ffffff;
    background-color: #7f3667;
    border: 2px solid #7f3667;
    width: 100%;
    padding: 0.2em 0em;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 20;
}

.container p, .container ol li{
    font-weight: bold;
    line-height: 2em;
}

input{
    height: 2em;
}

.input{
    width: 84.5%;
    padding: 1em;
    border: 2px solid #7f3667;
    line-height: 2em;
    text-align: center;
}

.output{
    text-align: center;
}

#feet, #inch{
    width: 5em;
    font-size: 1em;
    color: #7f3667;
    background-color: #d8d8d8;
    border: 0px;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    font-weight: normal;
}

#weight, #age{
    width: 11.4em;
    font-size: 1em;
    color: #7f3667;
    background-color: #d8d8d8;
    border: 0px;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    font-weight: normal;
}

#bmi, #ideal{
    width:7em;
    height: 1em;
    font-size: 2em;
    color: #7f3667;
    background-color: #d8d8d8;
    border: 0px;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: normal;
    z-index: 0;
    position: static;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#suggestion{
    width: 15em;
    height: 10em;
    font-size: 1em;
    color: #000000;
    background-color: #d8d8d8;
    border: 0px;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#nobg{
    background-color: #ffffff;
    border: 0px;
    color: #7f3667;
    margin-bottom: -0.5em;
    z-index: 0;
    position: static;
}

.button {
    color: #ffffff;
    background-color: #7f3667;
    text-decoration: none;
    padding: 0.4em;
    width: 12.5em;
    height: 3em;
    text-align: center;
    border: 0px;
    font-size: 1em;
}

.container img{
    border: 2px solid #7f3667;
}

hr{
    border: 1px solid #7f3667;
}

.center{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}